
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/custom/user.js"></script>
</head>
<body>
    <div class="container">
        <div class="well">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>Name</tr>
                        <tr>Email</tr>
                        <tr>Country</tr>
                        <tr>State</tr>
                        <tr>City</tr>
                        <tr>Gender</tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
